<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Administration Portal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">

    </head>
    <body>
        <div class="container my-2">
            <h1>Administration Portal</h1>
            
            <a th:href="@{/admin}" class="btn btn-primary btn-sm mb-3">List of admin staff</a><br>
            <a th:href="@{/showNewAdminForm}" class="btn btn-primary btn-sm mb-3">New Staff Member(Admin)</a><br>
            <a th:href="@{/login}" class="btn btn-primary btn-sm mb-3">Login</a><br>
            
                        
        </div>
    </body>
</html>
